body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


.fb_login{
    font-size: 30px;
    float: left;
    width: 500px;
    padding: 80px;

}
h1{
    color: #3b5998;
}

.login_box{    
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 200px;
    text-align: center;
    padding:  70px 4px ;
    margin-top: 120px;
    margin-left: 50%;
    box-shadow: 0px 0px 20px gray;

}
button{
    background-color: #3b5998;
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    text-align: center;
}
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.new_acc{
    background-color:rgb(75, 238, 75);
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 8px;
    text-align: center;
}
.last_line{
    padding: 26px;
    padding-left: 760px
}